.draggable {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 10px 0px 0px;
  }

.img-responsive{margin:0px;}

.draggable_container{
	margin-bottom:20px;
}

@media (max-width: 1024px) {
	.draggable{
		/*font-size:12px;*/}
}

.dialogBox{
	position: absolute;
	background-color: white;
	color:black;
}

.part_pic{
	position:absolute;
	z-index:1;
}

.vuc_footer{
	text-align: center;
}
