a {
    color:black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.OverlayTextHeader h1{
    margin: 0px !important;
    font-size: 36px;
    font-family: "Opens Sans", sans-serif;
    line-height: 170%;
    font-weight: 300;
}
.OverlayTextContainer h4 {
    font-size: 18px;
    font-family: "Opens Sans", sans-serif;
    line-height: 170%;
    font-weight: 300;
}
.right{float: right;}
.left{float: left;}
.clear{clear: both;}

#TestContent{border: 1px solid #F00;}

#OverlyWhyHowContainer{margin-bottom: 20px;}

#OverlyContainerWhy{margin-bottom: 20px;}

#OverlyContainerHow{margin-bottom: 20px;}



#OverlayId{background-color: rgba(0,0,0,0.5); position: fixed; z-index: 10;}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100000;
    display: none;
}

.OverlayTextContainer{
	width: 75%;
    max-width: 680px;
    padding: 40px 75px 40px 40px;
    position: absolute;
    margin-top: 38px;
    margin-left: 90px;
    background-color: rgba(248,248,246,0.9); /* #f1c40f ; */
    color: #000;			    
    border-radius: 5px;
  /*  text-align: center; */
    z-index: 100001; /* 1px higher than the overlay layer */
}
.OverlayTextContainer .glyphicon {
    font-size: 20px;
    margin-top: -25px;
    margin-right:-60px;
    color:rgba(0,0,0,0.5);
    font-weight: normal;
}
.OverlayTextContainer .glyphicon:hover{
    color:black;
}
.OverlayTextContainer h1 {margin-top: 0px;}


.OverlayText{}  /* border: 1px solid #FFF; */
.OverlayText p {margin: 11px 0px 0px 0px;}