body {
    color: black;
}
.video_container {
}
.correct {
    color:#666;
    }
.draggable {
    width: 120px;
    text-align: center;
    z-index: 0;
}
.draggable-active {
       box-shadow: 0px 4px 12px 4px #444;
    z-index: 1;
}
.dialogBox {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #808080;
    font-size: 12px;
    padding: 4px;
    position: absolute;
    width: 250px;
}

.imgwrapper_black {
    background-color: black;
    margin-right: 5px;
}
