
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,600italic,700italic,800italic,400,300,600,700,800";
body {
    color: #333;
    font-family: Open Sans;
    font-weight: 100;
}
.svarcontainer {
    margin-left: 9%;
    margin-top: 6%;
    margin-bottom: 6%;
}
.h1 {
    color: white;
    font-size: 36px;
    font-weight: lighter;
    line-height: 1.25;
    margin-top: 50px;
    text-align: center;
    top: 290px;
    width: 100%;
}
#player {
    position: absolute;
    z-index: 1;
}
#runde {
    color: #fff;
    left: 0;
    margin-top: -120px;
    opacity: 1;
    padding-top: 0;
    position: relative;
    right: 0;
    width: 350px;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 90%;
    position: relative;
    z-index: 75;
}
.popud {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 20%;
    width: 50%;
    z-index: 100;
}
img {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
}
h4 {
    color: white;
    font-size: 10pt;
    font-weight: 100;
    position: relative;
}
td {
    margin: 3px;
}
.imgspan {
   cursor: pointer;
    font-size: 18px !important;
    position: relative;
    top: 4px;
    left: 12px;
    color: white;
}
h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    width: 500px;
}
#time {
    background-color: rgba(84, 94, 86, 0.8);
    bottom: 0;
    color: white;
    font-size: 10px;
    padding-left: 5px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.html5-video-container {
    background-color: white;
}
.introknap {
    background-color: rgb(84, 94, 86);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    height: 37px;
    margin: 30px auto 0;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 120px;
}
.intro {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 150px;
    width: 50%;
    z-index: 100;
}
.introknap {
    cursor: pointer;
}
.svar_btn {
    background-color: rgb(84, 94, 86);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 11px;
    padding: 4px;
    text-align: center;
    width: 370px;

}

.btn_chosen{
background-color: rgb(144, 144, 136);
}

.feed_txt {
    color: white;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 40px;
}
table {
    margin-left: 33px;
    margin-top: 40px;
}
.videre_knap {
    margin-left: 330px;
}
.forfra_knap {
    margin-left: 328px;
    margin-top: 40px;
}
/*.svar_btn:hover {
    background-color: rgb(94, 105, 96);
}
*/
#time_bar {
    background-color: white;
    bottom: 0;
    height: 14px;
    opacity: 0.4;
    position: absolute;
    width: 300px;
    z-index: 2;
}
