.col-centered{
    float: none;
    margin: 0 auto;
    padding: 0 15px;
}
.topcol {
}
.youtube_container {  
  display: none;
  padding-left: 5px; 
}
#video_roll {
	margin-top: 20px;
}
.heading {
	padding:none;
}
.show {
	display: block;
}
.top_tekst {
	list-style: none;
}
.btn {
	margin-bottom: 7px;
	margin-bottom: 7px;
}
.LinkButton {
	width:100%;
	padding:10px 10%;
}
.MetaDataLink {
	color: #0071BC;
	margin:10px 0;
}
.topcol img {
	vertical-align: baseline;
}
