.btn-lg {
    display: table-cell;
}
.MetaDataLink {
	color: #0071bc;
	margin-right: 20px;
}
.jumbotron a{
	margin-top: 15px;
	font-weight: 200;
}
.jumbotron {
	margin-right: 16.6667%;
}
.om_container {
	margin-right: 25%;
}
.vuc_footer {
	margin-top: 23px;
}
.thumb_img_container {
	position: relative;
}
.thumb_img_container img {
	display: block;
	margin:0 auto;
	vertical-align: middle;
	max-width: 100%;
}
.thumb_overlay {
	transition: background-color 0.3s ease;
	background-color: rgba(0,113,188,0.5);
	opacity: 50%;
	z-index: 3;
	position: absolute;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
	bottom:100%;
	right:100%;
}
.indlejring_container a {
	margin-right: 0;
}
.thumb_overlay:hover {
	background-color: rgba(0,113,188,0);
}
@media screen and (max-width: 480px) { 
	.btn-lg {
		display: inline-block;
		float:none;
	}
	.indlejring_container {
		margin-top: -40px;
		float: none;
		display: block;
	}
}